body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 8px gray;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
