.stats-container {
    display: flex;
    justify-content: space-around;
}

.stat-box {
    padding: 30px;
    margin: 20px;
    border: 2px solid blue;
    background: lightblue;
    border-radius: 10px;
    text-align: center;
}

.stat-number {
    font-size: 40px;
    color: darkblue;
}

.stat-label {
    font-size: 18px;
}
