body{
    font-family:Arial;
    background:#f4f6f8;
    text-align:center;
    margin:0;
}

h1{
    margin:30px 0;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.card{
    width:230px;
    background:white;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
    padding-bottom:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.img{
    height:180px;
    background-size:cover;
    background-position:center;
    border-radius:10px 10px 0 0;
}

.price{
    color:#007bff;
    font-size:20px;
    font-weight:bold;
}

button{
    padding:10px 20px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}
