        /* การใช้ Element Selector */
        nav {
            background-color: #1a174d;
            padding: 15px;
        }

        /* การใช้ Descendant Selector */
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        /* การใช้ Child Selector */
        nav > ul > li {
            margin: 0 10px;
        }

        /* การใช้ Class Selector */
        .menu-item {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 5px 10px;
        }

        /* การใช้ Pseudo-class */
        .menu-item:hover {
            background-color: #545558;
            border-radius: 3px;
        }

        /* การใช้ ID Selector */
        #active {
            background-color: #3173b9;
            border-radius: 3px;
        }