.stats-container {
    display: flex;
    justify-content: space-around;
    max-width: 2000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.stat-box-black{
    flex: 1;
    margin: 0 15px;
    padding: 2rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.stat-box-purple{
    flex: 1;
    margin: 0 15px;
    padding: 2rem;
    text-align: center;
    background-color: purple;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.stat-box-blue{
    flex: 1;
    margin: 0 15px;
    padding: 2rem;
    text-align: center;
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.stat-number {
    font-size: 5rem;
    font-weight: bold;
    color: #ffaa00;
    margin-bottom: 0.5rem;
}

.stat-label {
    font-size: 1rem;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
    }

    .stat-box {
        margin: 1rem 0;
    }
}